/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
}




/* Línea vertical */
.timeline::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #333;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    z-index: 1;
}

.container {
    padding: 10px 20px;
    position: relative;
    background-color: inherit;
    width: 45%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.container.left {
    float: left;
    clear: both;
}

.container.right {
    float: right;
    clear: both;
}

.content {
    height: 20vh;
    padding: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.img-section {
    width: 30%;
    float: left;
    box-sizing: border-box;
}

.date-desc-section {
    width: 70%;
    float: left;
    box-sizing: border-box;
}

.buttons {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    
    .container.left::after,
    .container.right::before {
        display: none; /* Ocultar línea horizontal en dispositivos móviles */
    }

    /* Ocultar línea vertical en dispositivos móviles */
    .timeline::before {
        opacity: 0; /* Hacer la línea totalmente transparente */
    }
}

.linea {
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 50%;
    width: 3px;
    background-color: #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.linea:hover {
    background-color: #aaa;
    box-shadow: 0px 0px 20px rgba(224, 224, 224, 0.7);
    width: 4px;
}

/* Agregar línea horizontal con tamaño fijo */
.container.left::after,
.container.right::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 40px; /* Tamaño fijo */
    height: 2px;
    background-color: #ccc;
    z-index: 1;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container.left::after {
    left: 100%;
    margin-left: 0px; /* Ajustar separación de la caja */
}

.container.right::before {
    right: 100%;
    margin-right: 0px;
}
