styles.css

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 50px auto; /* Agregamos un margen superior para separar el timeline del resto de la página */
}

/* Agregamos la línea vertical */
.timeline::before {
    content: '';
    position: absolute;
    width: 2px; /* Ancho de la línea */
    background-color: #333;
    top: 0;
    bottom: 0;
    left: 50%; /* Posicionamos la línea en el centro */
    margin-left: -1px; /* Corregimos la posición para que quede centrada */
    z-index: 1; /* Aseguramos que la línea esté encima de los eventos */
}

.container {
    padding: 10px 20px;
    position: relative;
    background-color: inherit;
    width: 45%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.container.left {
    float: left;
    clear: both;
}

.container.right {
    float: right;
    clear: both;
}

/*.content {
    padding: 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2; 
}*/

.content {

    height: 20vh; /* El alto es el 50% de la altura de la ventana */
    padding: 10px;
    /* Usamos una imagen de fondo semitransparente */
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    background-color: white; /* Color de fondo para navegadores que no soportan gradientes */
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    /* border: 1px solid rgba(255, 255, 255, 0.3); */ /* Esta línea agrega el borde translúcido */
    z-index: 2; /* Aseguramos que el contenido esté encima de la línea */
}





/* Agregamos estilos para las dos secciones dentro de la caja de texto */
.img-section {
    width: 30%; /* Ocupa la mitad del ancho */
    float: left; /* Alinea a la izquierda */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
}

.date-desc-section {
    width: 70%; /* Ocupa la mitad del ancho */
    float: left; /* Alinea a la izquierda */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
}





.buttons {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
